<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <title>Книги в библиотеке</title>
    <link rel="stylesheet" href="../static/styles.css" th:href="@{styles.css}">
    <script src="../static/scripts.js" th:src="@{scripts.js}"></script>
    <script src="../static/loadLists.js" th:src="@{loadLists.js}"></script>
</head>
<body>
<div style="height: 100vh; display: flex; flex-direction: column">
    <div class="mainTitle">Библиотека</div>
    <div style="flex: 1 1 auto; overflow:hidden; display:flex; flex-direction: row;">
        <div class="menuArea">
            <a th:href="'/'" href="index.html">
                <div class="menuItemSel"> Книги</div>
            </a>
            <a th:href="'/authors'" href="authors.html">
                <div class="menuItem"> Авторы</div>
            </a>
            <a th:href="'/genres'" href="genres.html">
                <div class="menuItem"> Жанры</div>
            </a>
            <a th:href="'/comments'" href="comments.html">
                <div class="menuItem"> Комментарии</div>
            </a>
        </div>
        <div class="contentArea">
            <div class="contentHeader">
                <h2>Книга</h2>
                <div class="contextMenuItem">
                    <a class="contextMenuHref"
                       href="javascript:location.href='/editBook?url='+encodeURIComponent(book._links.self.href)">
                        Изменить
                    </a>
                </div>
                <div class="contextMenuItem">
                    <a class="contextMenuHref"
                       href="javascript:deleteEntity(book._links.self.href,'/','Удалить книгу: &quot;'+book.title+'&quot;?')">
                        Удалить
                    </a>
                </div>
            </div>
            <div class="error" id="errorDiv"></div>
            <div class="listElem">
                <table class="listElem">
                    <tr>
                        <th> Автор:</th>
                        <td>
                            <a class="contextHref"
                               id="authorHref"
                               href="javascript:location.href='author?url='+encodeURIComponent(book.author._links.self.href.replace('{?projection}',''))">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th> Название:</th>
                        <td id="book.title"></td>
                    </tr>
                    <tr>
                        <th> Жанр(ы):</th>
                        <td id="genresCell">
                        </td>
                    </tr>
                    <tr>
                        <th>Краткое содержание:</th>
                        <td style="text-align: justify;padding: 3px 16px 3px 8px; text-indent: 20px"
                            id="book.shortContent">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="contentHeader" style="margin-top: 40px">
                <h2 style="font-size: 20px">Комментарии</h2>
                <div style="font-size:15px;width: 200px" class="contextMenuItem">
                    <a class="contextMenuHref"
                       href="javascript:location.href='editComment?bookUrl='+encodeURIComponent(book._links.self.href)">
                        Добавить комментарий
                    </a>
                </div>
            </div>
            <div id="contentListDiv">
                <!--div class="listElem" th:each="comment: ${book.comments}">
                    <table class="listElem" th:object="${comment}">
                        <tr>
                            <th> ID:</th>
                            <td>
                                <a class="contextHref" th:href="@{/comment(id=*{id})}" href="comment.html?id=1"
                                   th:text="*{id}">10</a>
                            </td>
                        </tr>
                        <tr>
                            <th> Пользователь:</th>
                            <td th:text="*{userName}">User 1</td>
                        </tr>
                        <tr>
                            <th>Дата:</th>
                            <td th:text="*{#dates.format(commentDate,'dd-MM-yyyy HH:mm:ss')}">
                                22-01-2021 23:12:05
                            </td>
                        </tr>
                        <tr>
                            <th style="vertical-align: center;">Комментарий:</th>
                            <td style="text-align: justify;padding: 3px 16px 3px 8px; text-indent: 20px"
                                th:text="*{content}">
                                Если бы меня, как водится, спросили о единственной книге, которую я взяла бы на необитаемый
                                остров, это, безусловно, была бы эта книга – книга-шедевр, книга-дыхание, книга-сказка. Это
                                история и любви, и веры, и прощения. Это драма, которая местами комедия. Юмор Булгакова –
                                это мой юмор, его слова – это слова из моей песни. Хитросплетение сюжетов, прекрасные
                                параллели между ними, уморительные диалоги. Герои, которые поражают. Мне нравятся
                                практически все герои этого романа. Они дополняют друг друга, они невозможны друг без друга.
                                Единственный, кто всегда вызывал непонимание, раздражение, злость – это сам Мастер, человек,
                                которому дан талант и который ничего не делает, чтобы этот талант защитить. А безусловный
                                любимчик – это кот Бегемот. О чудесной идее романа можно говорить бесконечно. Можно, но не
                                нужно, потому что эту книгу нужно читать. Сначала быстро, за два дня, а потом еще раз, уже
                                смакуя, снова и снова возвращаясь к одним и тем же строкам, представляя на себе белый плащ с
                                кровавым подбоем, чувствуя, как в твою кожу втирается крем, пахнущий болотной тиной, или
                                раскачиваясь на люстре с примусом в лапах…
                            </td>
                        </tr>
                    </table>
                </div!-->
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    let book;
    let projectionName = 'bookExcerpt';
    loadData("book", [[${url}]] + '?projection=' + projectionName)
        .then(function (result) {
            book = result;
            authorHref.innerHTML = book.author.shortName;
            genresCell.innerHTML = getGenresList(book.genres);
            loadBookComments(book._links.comments.href);
        });
</script>

</body>
</html>