<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <title>Авторы в библиотеке</title>
    <link rel="stylesheet" href="../static/styles.css" th:href="@{styles.css}">
    <script th:inline="javascript">
        function confirmDelete() {
            /*<![CDATA[*/
            var message = /*[[${author.getFullName}]]*/ 'Михаил Афанасьевич Булгаков';
            result = confirm('Удалить автора "' + message + '"?');
            if (result)
                location.href =/*[[@{/deleteAuthor(id=${author.id})}]]*/ 'authors.html';
            /*]]>*/
        }
    </script>

</head>
<body>
<div style="height: 100vh; display: flex; flex-direction: column">
    <div class="mainTitle">Библиотека</div>
    <div style="flex: 1 1 auto; overflow:hidden; display:flex; flex-direction: row;">
        <div class="menuArea">
            <a th:href="'/'" href="index.html">
                <div class="menuItem"> Книги</div>
            </a>
            <a th:href="'/authors'" href="authors.html">
                <div class="menuItemSel"> Авторы</div>
            </a>
            <a th:href="'/genres'" href="genres.html">
                <div class="menuItem"> Жанры</div>
            </a>
            <a th:href="'/comments'" href="comments.html">
                <div class="menuItem"> Комментарии</div>
            </a>
        </div>
        <div class="contentArea">
            <div class="contentHeader">
                <h2>Автор</h2>
                <div class="contextMenuItem">
                    <a class="contextMenuHref" th:href="@{/editAuthor(id=${author.id})}" href="editAuthor.html">
                        Изменить
                    </a>
                </div>
                <div class="contextMenuItem"><a class="contextMenuHref" onclick="confirmDelete()">Удалить</a></div>
            </div>
            <div class="listElem">
                <table class="listElem">
                    <tr>
                        <th> ID:</th>
                        <td th:text="${author.id}">10</td>
                    </tr>
                    <tr>
                        <th>Фамилия:</th>
                        <td th:text="${author.lastName}">Булгаков</td>
                    </tr>
                    <tr>
                        <th>Имя:</th>
                        <td th:text="${author.firstName}">Михаил</td>
                    </tr>
                    <tr>
                        <th>Отчество:</th>
                        <td th:text="${author.middleName}">Афанасьевич</td>
                    </tr>
                    <tr>
                        <th> Полное имя:</th>
                        <td th:text="${author.fullName}">Михаил Афанасьевич Булгаков</td>
                    </tr>
                    <tr>
                        <th> Краткое имя:</th>
                        <td th:text="${author.shortName}">М.А. Булгаков</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>

</html>